.container {
    width: 300px;
    margin: 20px auto;
    text-align: center;
}
.image-box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(6, 234, 51, 0.2);
    transition: box-shadow 0.3s ease-in-out; 
}
.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.image-box:hover {
    cursor: pointer; 
    box-shadow: 0 8px 16px rgba(214, 22, 166, 0.2); 
}
.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(201, 7, 7, 0.744);
    color: blueviolet;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0; 
}
.image-box:hover .caption {
    opacity: 1; 
}
