body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
     }
        
header, footer, nav {
         background-color: #333;
         color: red;
        padding: 10px;
        text-align: center;
        }
article {
           
        margin: 20px;
        padding: 20px;
        background-color: #6e0bd8;
        }
aside {
        float: right;
        width: 30%;
        padding: 10px;   
        background-color: yellow;
        }
 figure {
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
        }
figcaption {
        text-align: center;
        font-style: italic;
        }
  