.container {
    width: 80%; 
    margin: 0 auto; 
}
.pixel-element {
    width: 400px; 
    height: 50px; 
    background-color: orange;
    margin-bottom: 20px;
}
.percentage-element {
    width: 50%; 
    height: 60%; 
    background-color: blue;
    margin-bottom: 20px;
}
