body{
    background-color: cyan;
}
.custom-list
 {
    list-style-type: square; 
    font-size: larger;
    font-weight: 400;
    font-style: normal;
  }
ul 
{
    padding-left: 20px; 
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}